@model IEnumerable<Questionnaire.Web.Models.CityViewModel>
    <select id="city" name="City">
        @foreach(var item in Model)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
